@font-face {
    font-family: ProductSans;
    src: url(../fonts/ProductSansRegular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: ProductSans;
    src: url(../fonts/ProductSansBold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: ProductSans;
    src: url(../fonts/ProductSansItalic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: ProductSans;
    src: url(../fonts/ProductSansBoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}