/*team*/
.content_team {
  /*border: 1px solid red;*/
  padding: 0 10%;
}

.text_wrapper {
  /*border: 1px solid red;*/
  padding: 10px;
}

.text_team {
  display: flex;
  justify-content: center;
}

.img_team {
  /*border: 1px solid red;*/
  padding: 10px;
  text-align: center;
  margin-top: 10px;
}

.img_team img {
  border-radius: 100%;
  width: 80px;
  padding: 3px;
}

.member_text {
  /*border: 1px solid red;*/
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

.team_text {
  border: 1px solid rgb(206, 206, 206);
  background-color: rgb(206, 206, 206);
  border-radius: 15px;
  padding: 20px;
}

@media (min-width: 600px) {
  .content_team {
    padding: 0 10%;
  }

  .text_wrapper {
    display: flex;
    justify-content: start;
  }
  .img_team {
    display: flex;
    justify-content: start;
  }

  .img_team img {
    padding: 3px;
  }

  .team_text {
    display: flex;
    justify-content: start;
  }
}
