@import url(./fonts.css);
body {
    font-family: ProductSans;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*team*/
.content_team {
    border: 1px solid red;
    padding: 50px;
}

.text_wrapper {
    border: 1px solid red;
    padding: 5px;
}

.text_team {
    text-align: center;
}

.img_team {
    border: 1px solid red;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

.img_team img {
    border-radius: 100%;
    width: 100px;
}

.member_text {
    border: 1px solid red;
    padding: 30px;
    text-align: center;
}

.member_text span {
    border: 1px solid rgb(206, 206, 206);
    background-color: rgb(206, 206, 206);
    border-radius: 15px;
    padding: 20px;
}