@import url(./fonts.css);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;

}

body {
  background-color: #fff;
  font-family: ProductSans;
  font-weight: 400;
  font-size: 16px;
  width: 100vw;
  overflow-x: hidden;
}

section.content__section {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.content__wrapper {
  padding: 0 20%;
  display: flex;
  flex-direction: column;
}


.button {
  text-decoration: none;
  outline: none;
  border: none;
  color: inherit;
  padding: 5px 15px;
  border-radius: 20px;
  min-width: 130px;
  text-align: center;
}

.button-primary {
  background-color: #F83F61;
  color: #fff;
}

.button-secondary {
  border: 1px solid #F83F61;
  color: #F83F61;
}

.button-primary:hover {
  background-color: #f80000;
  color: #000000;
  transition: 200ms ease-in-out color;
  
}

.button-secondary:hover {
  background-color: white;
  color: #000000;
  transition: 200ms ease-in-out color;
}


/**
 * NAVIGATION BAR STYLES
 */
.nav {
  background-color: black;
}

.logo img{
  width: 40%;
}

.container {
  padding: 0 10rem;
  margin: 0 auto;
}
.nav-con{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.menu{
  display: flex;
}
.menu a {
  color: black;
  text-decoration: none;
}
.menu li {
  list-style: none;
  margin-left: 1rem;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

.topnav input[type=text], .topnav .search-container button {
  float: none;
  display: block;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 14px;
}
.topnav input[type=text] {
  border: 1px solid #ccc;  
}

.menu a:hover{
  color: #F83F61 ;
  transition: .2s ease-in-out;
}