@import url(./fonts.css);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  background-color: #fff;
  font-family: ProductSans;
  font-weight: 400;
  font-size: 16px;
}

section.content__section {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.content__wrapper {
  padding: 0 20%;
  display: flex;
  flex-direction: column;
}

x
.button {
  text-decoration: none;
  outline: none;
  border: none;
  color: inherit;
  padding: 5px 15px;
  border-radius: 20px;
  min-width: 130px;
  text-align: center;
}

.button-primary {
  background-color: #F83F61;
  color: #fff;
}

.button-secondary {
  border: 1px solid #F83F61;
  color: #F83F61;
}

/**
 * NAVIGATION BAR STYLES
 */
.nav {
  background-color: black;
}

.logo img{
  width: 40%;
}

.container {
  padding: 0 10rem;
  margin: 0 auto;
}
.nav-con{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.menu{
  display: flex;
}
.menu a {
  color: black;
  text-decoration: none;
}
.menu li {
  list-style: none;
  margin-left: 1rem;
}